@import "variables/colors";
@import "variables/borders";
@import "variables/sizes";

@mixin arrow {
  content: "";
  position: absolute; /* Абсолютное позиционирование для размещения */
  right: -15px; /* Расположение стрелочки справа */
  top: 50%; /* Центрирование по вертикали */
  transform: translateY(-50%); /* Центрирование по вертикали */
  border-left: 5px solid transparent; /* Создание стрелочки */
  border-right: 5px solid transparent; /* Создание стрелочки */
  border-top: 5px solid gray; /* Цвет стрелочки */
}

.user-table {
  &-container {
    width: 100%;
  }
  width: 100%;
  margin-bottom: 20px;
  border-radius: $border-radius;
  overflow: hidden;
  position: relative;
  max-height: 80vh;
  // для красивого border-radius
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: $thick-border;
    border-radius: 16px;
    background: inherit;
    z-index: -1;
  }
  &__headers {
    display: grid;
    height: 60px;
  }
  &__header {
    border: $default-border;
    padding: 0 16px;
    text-transform: capitalize;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    &__resize_right, &__resize_left {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 20px;
      cursor: col-resize;
    }
    &__resize_left {
      left: 0;
    }
    &__text{
      position: relative;
      width: fit-content;
      cursor: pointer;
      &::after {
       @include arrow;
        transition: .5s transform ease-in-out;
      }
    }
    &__text_sorted{
      &::after {
        border-top: 5px solid #000;
      }
      &_asc::after {
        @include arrow;
        transform: translateY(-40%) rotate(180deg);
        border-top: 5px solid #000;
      }
    }
  }
  &__row {
    display: grid;
    cursor: grab;
    &__content {
      border: $default-border;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 53px;
      overflow: hidden;
      padding: 10px;
      position: relative;
      &_actions {
        display: flex;
        gap: 3px;
      }
      &__text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        z-index: 1;
        cursor: pointer;
      }
      &__action {
        color: #fff;
        border: none;
        border-radius: 4px;
        width: 24px;
        height: 24px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        background-size: 20px 20px;
        background-position: center center;
        background-repeat: no-repeat;
        &_delete {
          background-image: url("../assets/icons/delete.svg");
          background-color: $danger;
        }
        &_edit {
          background-image: url("../assets/icons/edit.svg");
          background-color: #007BFF;
          background-size: 16px 16px;
        }
      }
    }
  }
}